#################################
#  POSTGRES
#################################

POSTGRES_USER=takaro
POSTGRES_PASSWORD=takaro-dev
POSTGRES_DB=takaro
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

#################################
#  TAKARO
#################################

# These are created in Hydra, see the docs.
ADMIN_CLIENT_ID="CHANGE_THIS"
ADMIN_CLIENT_SECRET="CHANGE_THIS"

# This is the secret used to sign the JWT tokens
# Set it to a random string of your choice
JWT_SECRET="CHANGE_THIS"

TAKARO_HOST=http://127.0.0.1:13000
TAKARO_FRONTEND_HOST=http://127.0.0.1:13001
VITE_API=http://127.0.0.1:13000
VITE_ORY_URL=http://127.0.0.1:4433
VITE_POSTHOG_PUBLIC_API_KEY=placeholder
VITE_POSTHOG_API_URL=placeholder

# Set this to a long, random string of your choice
POSTGRES_ENCRYPTION_KEY=THIS_SHOULD_BE_CHANGED

# Enabled OpenTelmetry tracing
# https://opentelemetry.io/docs/concepts/what-is-opentelemetry/
# Requires additional infrastructure to be setup
TRACING_ENABLED=false

# Queue concurrency. You will only need to touch these if you are running at "large-ish" scale.
HOOKS_QUEUE_CONCURRENCY=5
COMMANDS_QUEUE_CONCURRENCY=5
CRONJOBS_QUEUE_CONCURRENCY=5

# Sentry error tracing
SENTRY_DSN=""

BASE_URL="http://127.0.0.1:13000"

# Discord settings
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_TOKEN=

# https://steamcommunity.com/dev/apikey
STEAM_API_KEY=""

#################################
# AWS
#################################

FUNCTIONS_EXECUTION_MODE="local"

AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

#################################
# Dev data
#################################

TEST_HTTP_TARGET=${TAKARO_HOST}

# Local mail server used for developing and testing
MAILHOG_URL="http://127.0.0.1:8025"

# Local path to your steam Rust installation folder containing the icons
RUST_ICONS_PATH="/home/catalysm/.local/share/Steam/steamapps/common/Rust/Bundles/items"

TAKARO_DEV_USER_PASSWORD=takaro_is_cool
TAKARO_DEV_USER_NAME=takaro
TAKARO_DEV_DOMAIN_NAME=localdev.local

TAKARO_DEV_CHAT_BRIDGE_ENABLED=false
TAKARO_DEV_CHAT_BRIDGE_CHANNEL_ID=""

TAKARO_DEV_RUST_HOST=""
TAKARO_DEV_RUST_PORT=28016
TAKARO_DEV_RUST_PASSWORD=""

TAKARO_DEV_SDTD_HOST=""
TAKARO_DEV_SDTD_ADMIN_USER=""
TAKARO_DEV_SDTD_ADMIN_PASSWORD=""
