version: '3.1'
services:
  postgresql:
    image: postgres:14
    ports:
      - "5432:5432"   
    volumes:
      - postgresql:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}  

  redis:
    ports:
      - "6379:6379"
    extends:
      file: docker-compose.yml
      service: redis      
  kratos:
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_kratos:5432/${POSTGRES_DB}  
    extends:
      file: docker-compose.yml
      service: kratos
  kratos-migrate:
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_kratos:5432/${POSTGRES_DB}
    extends:
      file: docker-compose.yml
      service: kratos-migrate      
  postgresql_kratos:
    image: postgres:14
    volumes:
      - postgresql_kratos:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}      
  hydra:
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_hydra:5432/${POSTGRES_DB} 
      - URLS_SELF_ISSUER=http://127.0.0.1:4444/ 
    extends:
      file: docker-compose.yml
      service: hydra

  hydra-migrate:
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_hydra:5432/${POSTGRES_DB}

    extends:
      file: docker-compose.yml
      service: hydra-migrate   
  postgresql_hydra:
    image: postgres:14
    volumes:
      - postgresql_hydra:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}        
  takaro_api:
    image: ghcr.io/gettakaro/takaro-app-api:${DOCKER_TAG}
    container_name: takaro_api
    volumes:
      - ./reports:/app/reports      
    environment:
      LOGGING_LEVEL: debug
      #LOGGING_MINIMAL: "true"
      REDIS_HOST: "redis"
      JWT_SECRET: "${JWT_SECRET}"
      FUNCTIONS_EXECUTION_MODE: "local"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}  
      POSTGRES_HOST: "postgresql"   
      POSTGRES_ENCRYPTION_KEY: "${POSTGRES_ENCRYPTION_KEY}"
      ADMIN_CLIENT_ID: ${ADMIN_CLIENT_ID}
      ADMIN_CLIENT_SECRET: ${ADMIN_CLIENT_SECRET}
      TAKARO_OAUTH_HOST: http://hydra:4444
      TAKARO_HOST: http://takaro:3000
    ports:
    # api
      - 13000:3000
      - 12001:12001

volumes:
  postgresql:
  postgresql_hydra:
  postgresql_kratos: