version: '3.1'
services:
  homer:
    extends:
      file: docker-compose.yml
      service: homer
  postgresql:
    extends:
      file: docker-compose.yml
      service: postgresql
  redis:
    extends:
      file: docker-compose.yml
      service: redis
  takaro:
    extends:
      file: docker-compose.yml
      service: takaro

  kratos-migrate:
    extends:
      file: docker-compose.yml
      service: kratos-migrate
  kratos:
    extends:
      file: docker-compose.yml
      service: kratos
  postgresql_kratos:
    extends:
      file: docker-compose.yml
      service: postgresql_kratos
  hydra:
    extends:
      file: docker-compose.yml
      service: hydra
  hydra-migrate:
    extends:
      file: docker-compose.yml
      service: hydra-migrate
  postgresql_hydra:
    extends:
      file: docker-compose.yml
      service: postgresql_hydra

  prometheus:
    image: prom/prometheus:v2.40.7
    volumes:
      - ./containers/prometheus/:/etc/prometheus/
      - ./_data/prometheus:/prometheus
    networks:
      - takaro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090

  grafana:
    image: grafana/grafana:9.3.6
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    networks:
      - takaro
    volumes:
      - ./containers/grafana/grafana-provisioning:/etc/grafana/provisioning/
      - ./_data/grafana:/var/lib/grafana
    ports:
      - '13007:3000'

  tempo:
    image: grafana/tempo:latest
    command: ['-config.file=/etc/tempo.yaml']
    volumes:
      - ./containers/tempo/tempo.yaml:/etc/tempo.yaml
      - ./_data/tempo:/tmp/tempo
    networks:
      takaro:
        ipv4_address: 172.16.238.254
    ports:
      #      - "14268:14268"  # jaeger ingest
      - '3200:3200' # tempo
      - '4317:4317' # otlp grpc
#      - "4318:4318"  # otlp http
#      - "9411:9411"   # zipkin

networks:
  takaro:
    ipam:
      driver: default
      config:
        - subnet: '172.16.238.0/24'
