version: '3.1'

services:
  homer:
    image: b4bz/homer
    container_name: homer
    restart: always
    volumes:
      - ./containers/homer/assets:/www/assets
    ports:
      - 13337:8080
    environment:
      - INIT_ASSETS=0
  postgresql:
    image: postgres:15
    volumes:
      - ./_data/db:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:13100:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - ${PGADMIN_PORT:-5050}:80
    logging:
      driver: none

  redis:
    image: redis
    ports:
      - 6379:6379

  vmm:
    privileged: true
    devices:
      - /dev/kvm:/dev/kvm
    depends_on:
      - takaro
    build:
      context: .
      dockerfile: containers/vmm/dev.Dockerfile
    volumes:
      - ./packages/app-vmm:/app/packages/app-vmm

      - ./packages/lib-apiclient:/app/packages/lib-apiclient
      - ./packages/lib-auth:/app/packages/lib-auth
      - ./packages/lib-components:/app/packages/lib-components
      - ./packages/lib-config:/app/packages/lib-config
      - ./packages/lib-db:/app/packages/lib-db
      - ./packages/lib-function-helpers:/app/packages/lib-function-helpers
      - ./packages/lib-gameserver:/app/packages/lib-gameserver
      - ./packages/lib-http:/app/packages/lib-http
      - ./packages/lib-modules:/app/packages/lib-modules
      - ./packages/lib-queues:/app/packages/lib-queues
      - ./packages/lib-util:/app/packages/lib-util

      - ./firecracker:/app/firecracker
      - ./scripts:/app/scripts
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      LOGGING_LEVEL: debug
      TAKARO_HOST: http://takaro:3000
      TEST_HTTP_TARGET: http://takaro:3000
      TAKARO_OAUTH_HOST: http://hydra:4444
    ports:
      # vmm
      - 13004:3001
      - 12002:12002

  takaro:
    build:
      context: .
      dockerfile: ./containers/takaro/dev.Dockerfile
    volumes:
      - ./packages/app-api:/app/packages/app-api
      - ./packages/app-connector:/app/packages/app-connector
      - ./packages/app-mock-gameserver:/app/packages/app-mock-gameserver

      - ./packages/lib-apiclient:/app/packages/lib-apiclient
      - ./packages/lib-auth:/app/packages/lib-auth
      - ./packages/lib-components:/app/packages/lib-components
      - ./packages/lib-config:/app/packages/lib-config
      - ./packages/lib-db:/app/packages/lib-db
      - ./packages/lib-function-helpers:/app/packages/lib-function-helpers
      - ./packages/lib-gameserver:/app/packages/lib-gameserver
      - ./packages/lib-http:/app/packages/lib-http
      - ./packages/lib-modules:/app/packages/lib-modules
      - ./packages/lib-queues:/app/packages/lib-queues
      - ./packages/lib-util:/app/packages/lib-util

      - ./reports:/app/reports
      - ./scripts:/app/scripts
    environment:
      LOGGING_LEVEL: debug
      #LOGGING_MINIMAL: "true"
      REDIS_HOST: redis
      JWT_SECRET: ${JWT_SECRET}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: postgresql
      POSTGRES_ENCRYPTION_KEY: ${POSTGRES_ENCRYPTION_KEY}

      TAKARO_HOST: http://takaro:3000

      TEST_HTTP_TARGET: http://takaro:3000
      TAKARO_OAUTH_HOST: http://hydra:4444

      TAKARO_DEV_USER_PASSWORD: ${TAKARO_DEV_USER_PASSWORD}
      TAKARO_DEV_USER_NAME: ${TAKARO_DEV_USER_NAME}
      TAKARO_DEV_DOMAIN_NAME: ${TAKARO_DEV_DOMAIN_NAME}

      HOOKS_QUEUE_CONCURRENCY: ${HOOKS_QUEUE_CONCURRENCY:-5}
      COMMANDS_QUEUE_CONCURRENCY: ${COMMANDS_QUEUE_CONCURRENCY:-5}
      CRONJOBS_QUEUE_CONCURRENCY: ${CRONJOBS_QUEUE_CONCURRENCY:-5}

      ADMIN_CLIENT_ID: ${ADMIN_CLIENT_ID}
      ADMIN_CLIENT_SECRET: ${ADMIN_CLIENT_SECRET}

      VITE_API: http://127.0.0.1:13000
      VITE_ORY_URL: http://127.0.0.1:4433

      CORS_ALLOWED_ORIGINS: http://127.0.0.1:13000,http://127.0.0.1:13001,http://127.0.0.1:13004,https://admin.socket.io

      TRACING_ENABLED: ${TRACING_ENABLED:-false}
      TRACING_ENDPOINT: 'http://tempo:4317'
      TAKARO_SERVICE: 'dev-takaro'
    networks:
      default:
        ipv4_address: 172.16.238.253
    ports:
      # api
      - 13000:3000
      - 12001:12001
      # web-main
      - 13001:13001
      # lib-components storybook
      - 13002:13002
      # mock server
      - 13006:3002
      - 12003:12003
      # Docs
      - 13005:13005

  kratos-migrate:
    image: oryd/kratos:v0.11.1
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_kratos:5432/kratos
    volumes:
      - ./containers/ory/kratos:/etc/config/kratos
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    restart: on-failure
  kratos:
    image: oryd/kratos:v0.11.1
    ports:
      - '4433:4433' # public
      - '4434:4434' # admin
    restart: on-failure
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_kratos:5432/kratos
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    volumes:
      - ./containers/ory/kratos:/etc/config/kratos
  postgresql_kratos:
    image: postgres:15
    ports:
      - 127.0.0.1:13101:5432
    volumes:
      - ./_data/kratos-db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: kratos

  hydra:
    image: oryd/hydra:v2.0.3
    ports:
      - '4444:4444' # Public port
      - '4445:4445' # Admin port
      - '5555:5555' # Port for hydra token user
    command: serve -c /etc/config/hydra/hydra.yml all --dev
    volumes:
      - ./containers/ory/hydra:/etc/config/hydra
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_hydra:5432/hydra
      - URLS_SELF_ISSUER=http://hydra:4444/
  hydra-migrate:
    image: oryd/hydra:v2.0.3
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql_hydra:5432/hydra
    command: migrate -c /etc/config/hydra/hydra.yml sql -e --yes
    volumes:
      - ./containers/ory/hydra:/etc/config/hydra
  postgresql_hydra:
    image: postgres:15
    ports:
      - 127.0.0.1:13102:5432
    volumes:
      - ./_data/hydra-db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: hydra

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - '4436:4436'
      - '4437:4437'

volumes:
  pgadmin:

networks:
  default:
    name: takaro
    ipam:
      driver: default
      config:
        - subnet: '172.16.238.0/24'
