volumes:
  grafana_data:
  tempo_data:

services:
  grafana:
    image: grafana/grafana:11.2.2
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    volumes:
      - grafana_data:/var/lib/grafana
      - ./containers/grafana/grafana-provisioning:/etc/grafana/provisioning
    ports:
      - '13007:3000'

  tempo:
    image: grafana/tempo:latest
    command: ['-config.file=/etc/tempo.yaml']
    volumes:
      - ./containers/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/tmp/tempo
    ports:
      - '3200:3200' # tempo
      - '4317:4317' # otlp grpc
