name: Code style

on:
  push:
    branches:
      - "**"
      - "!renovate/**"

jobs:
  style-fix:
    name: Run Prettier and Commit Changes
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TAKARO_CI_APP_ID }}
          private-key: ${{ secrets.TAKARO_CI_APP_PRIV_KEY }}

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.0

      - run: ./scripts/dev-init.sh

      - name: Run Prettier
        run: npm run test:style:fix

      - name: Commit and push if changed
        run: |
          if git diff --quiet; then
            echo "No changes to commit."
          else
            git config --global user.name 'takaro-ci-bot[bot]'
            git config --global user.email '138661031+takaro-ci-bot[bot]@users.noreply.github.com'
            git commit -am "fix: code style"
            git push
          fi
