name: Deploy docs to Pages

on:
  push:
    branches: ["**"] # Run on all branches
  pull_request:
    branches: ["**"] # Run on all pull requests

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Build job that runs on all branches
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.0

      - run: ./scripts/dev-init.sh

      - run: npm -w packages/web-docs run build

      - name: Generate API client docs
        run: |
          npx typedoc
          mv reports/api-docs packages/web-docs/dist/api-docs

      # Upload the build artifacts so they can be used by the deploy job
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: docs-build
          path: "./packages/web-docs/dist"
          retention-days: 1

  # Deploy job that only runs on main branch
  deploy:
    # Only run this job on the main branch
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: build # This job depends on the build job
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # Download the artifacts from the build job
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: docs-build
          path: "./docs-build"

      - name: Upload artifact to GitHub Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./docs-build"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
