name: Publish libs

on:
  push:
    tags:
      - "**"
    branches:
      - main
jobs:
  publish:
    name: Publish packages
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package:
          [
            { name: "lib-apiclient" },
            { name: "lib-auth" },
            { name: "lib-aws" },
            { name: "lib-components" },
            { name: "lib-config" },
            { name: "lib-db" },
            { name: "lib-email" },
            { name: "lib-function-helpers" },
            { name: "lib-gameserver" },
            { name: "lib-http" },
            { name: "lib-modules" },
            { name: "lib-queues" },
            { name: "lib-util" },
            { name: "app-mock-gameserver" },
          ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.0
          registry-url: "https://registry.npmjs.org"

      - run: ./scripts/dev-init.sh

      - name: Set next version
        if: github.ref == 'refs/heads/main'
        run: |
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          npm -w packages/${{ matrix.package.name }} version 0.0.0-next.${SHORT_SHA} --no-git-tag-version

      - name: Authenticate with NPM
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Publish release
        if: github.ref != 'refs/heads/main'
        run: npm -w packages/${{ matrix.package.name }} publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish next
        if: github.ref == 'refs/heads/main'
        run: npm -w packages/${{ matrix.package.name }} publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
