name: Publish libs

on:
  push:
    tags:
      - '**'
jobs:
  publish:
    name: Publish packages
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package:
          [
            { name: 'lib-apiclient' },
            { name: 'lib-auth' },
            { name: 'lib-aws' },
            { name: 'lib-components' },
            { name: 'lib-config' },
            { name: 'lib-db' },
            { name: 'lib-email' },
            { name: 'lib-function-helpers' },
            { name: 'lib-gameserver' },
            { name: 'lib-http' },
            { name: 'lib-modules' },
            { name: 'lib-queues' },
            { name: 'lib-util' },
          ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.18
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - run: ./scripts/dev-init.sh

      - name: Authenticate with NPM
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - run: npm -w packages/${{ matrix.package.name }} publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}